.g-card {
  margin: 20px;
}
.g-card-image {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 3px 1px #ccc;
}
.g-card-info {
  margin-top: 10px;
  min-height: 100px;
}
.g-card-title {
  font-size: 24px;
  margin: 0px;
}
.g-card-sub-title {
  font-size: 16px;
  margin: 0px;
}