.footer {
  min-height: 10px;
  /* opacity: 50%; */
  position: fixed;
  bottom: 0;
}

.footer span {
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0; 
  text-align: center;
  padding: 3px;
  /* background: mediumpurple;  */
} 
