.footer {
  min-height: 100px;
  background: lavender;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 3px;
  background: mediumpurple;
}
